<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/style.min.css" />
    <link rel="stylesheet" href="./css/token.min.css" />
    <script src="./js/vue.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div id="main">
      <div class="block">
        <div class="label">帳號</div>
        <input type="text" class="text" v-model="textAESValue"></input>
        <button class="btn" v-on:click="SendAESRequest();">送出</button>
      </div>
      <div class="block">
        <div class="label">AES:</div>
        <input type="text" class="text" v-model="returnAESValue"></input>
      </div>
      <div class="block">
        <div class="label">Platform</div>
        <input type="text" class="text" v-model="platform"></input>
      </div>
      <div class="block">
        <div class="label">Type</div>
        <input type="text" class="text" v-model="type"></input>
      </div>
      <div class="block">
        <div class="label">Password:</div>
        <select class="text" v-model="pass">
          <option :value="text" v-for="text in passList" v-html="text"></option>
        </select>
      </div>
      <div class="block">
        <div class="label">URL:</div>
        <select class="text" v-model="url">
          <option :value="text" v-for="text in urlList" v-html="text"></option>
        </select>
      </div>
      <div class="block">
        <div class="label">Sign Prev:</div>
        <input type="text" class="text" v-model="sign_prev"></input>
      </div>
      <div class="block">
        <div class="label">Sign:</div>
        <input type="text" class="text" v-model="sign"></input>
      </div>
      <div class="block">
        <div class="label">Token:</div>
        <input type="text" class="text" v-model="token"></input>
      </div>
    </div>
    <script src="./js/token.js"></script>
  </body>
</html>
